 body{
    height: auto;
    /* overflow: scroll; */
} 

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    height: 100%;
    width: 95%;
}

.goals{
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.responsive{
    grid-row: 2;
}

footer{
    
    flex-direction: column;
    text-align: center;
}

footer p{
    font-size:1rem;
    margin-top: 10px;
    
}
footer p:last-child{
    margin-bottom: 5px;
}


